html, body{
    height: 100vh;
    width: 100vw;
    color: aliceblue;
    margin-left: 300px;
    background-color: midnightblue;
}

body {
    display: flex;
    flex-direction: column;
    border: black solid;
    width: 300px;
    height: 300px;
    padding: 70px;
    align-self: center;
    background-color: rgba(0,0,56,0.78)
}

.title {
    width: 100vw;
    text-align: center;
}

.form input, .form button {
    display: block;
    width: 100vw;
    box-sizing: border-box;
    margin: 5px 0 15px 0;
    padding: 5px;

}

.form button {
    background-color: cornflowerblue;
    width: 100%;
}
