html, body {
    background-color: whitesmoke;
}

form {
    width: 50vw;
    height: 40vh;
    margin: auto;
    background-color: white;
    box-shadow: 10px 10px 10px gray;
}

div.submit{
    display: flex;
    margin-top: 10px;
    text-align: center;
    }

input[type="submit"] {

    width: 300px;
    height: 30px;
    background-color: hotpink;
    font-weight: bold;
    margin: auto;
    border: hotpink solid;
}

label {
    font-weight: bold;
}
#wynik {
    border: black 10px;
    font-weight: bold;
}

select {
    background-color: whitesmoke;
    width: 300px;
    height: 30px;
    margin: auto;
    display: flex;
    border: whitesmoke solid;
    font-weight: bold;
    text-align: center;
}
input[type="text"] {
    display: flex;
    margin: auto;
    width: 300px;
    height: 25px;
    background-color: whitesmoke;
    border: whitesmoke solid;
    font-weight: bold;
    text-align: center;
}